.configuration-item-container {
  display: flex;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 12px;
  width: calc(100vw - 360px);
  justify-content: space-between;
  align-items: center;

  .configuration-title {
    font-size: 12px;
    font-weight: bold;
  }
  .configuration-field {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .side-settings-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .settings-button {
        background-color: transparent;
        border: none;
        border-radius: 25px;
        padding: 5px;
        padding-bottom: 1px;
        cursor: pointer;

        &:hover {
          background-color: rgba(196, 196, 196, 0.144);
        }

        &:active {
          background-color: rgba(196, 196, 196, 0.247);
        }
      }
    }
  }
}

.general-popup-container {
  .general-popup-component {
    .side-setting-item {
      display: flex;
      align-items: center;
      width: 90%;
      justify-content: space-between;

      .side-setting-slider {
        width: 250px;
      }
    }
  }
}
